*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.whole_Home_Page{
    display:flex;
    width: 100vh;
    height: 1000vw;
    background-color: aqua;
}
.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color:aquamarine ;
    z-index: 999;
    position: sticky;
    top :0;
}
.Header a{
    text-decoration: none;
    color: black;
}

.Navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: aqua;
    /* z-index: 999;
    position: sticky;
    top: 0; */
}
.Navbar li{
    display: inline;
    padding-right: 10px;
}
.Navbar a{
    text-decoration: none;
    color: black;
}
.Navbar li a:hover, a:active{
    color: rgb(108, 122, 137);
    transition: 0.5s;
}

.Slider{
    width: 100%;
    white-space: nowrap;
}
