@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nav1{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.search-bar{
  display: flex;
  align-items: center;
  width: 300px;
  padding: 5px 5px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #fff;
}

.search-bar img{
  width: 20px;
}

.search-bar input{
  width: 100%;
  background: #FFFFFF;
  outline: none;
  border: none;
  margin-left: 10px;
}

.logout-profile-container{
  display: flex;
  gap: 20px;
}

.logout-profile-container button{
  width: 100px;
  height: 30px;
  border-radius: 5px;
  padding: 3px 5px;
  background-color: #FF0000;
  color: #FFFFFF;
  font-weight: 600;
  border: none;
}

.logout-profile-container img{
  width: 35px;
  height: 25px;
}

.nav2{
  width:100%;
  height: 70px;
  padding: 12px 100px;
  background-color: #63CE6D;
}

.list-menu{
  display: flex;
  justify-content: space-between;
}

ul.list-menu  li{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.list-menu  li img{
  width: 25px;
  height: 25px;
}
.list-menu a{
    text-decoration: none;
    color: black;
}


/*--------------------------------------CONTAINER & PRODUCT CONTAINER---------------------------------------*/


.container{
  padding: 30px 30px;  
}

.page-title{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.product-favorit-container{
  display: grid;
  justify-content: space-between;
  row-gap: 50px;
  padding: 0 220px;
  grid-template-columns: 150px 150px 150px 150px 150px;
  grid-template-rows: 230px 230px;
}

.product-card{
  background-color: #B0D9B1;
  border-radius: 14px;
  width: 150px;
  height: 230px;
  padding: 10px 10px;
}

.product-card img{
  width: 130px;
  height: 95px;
  border-radius: 8px;
}

.seller-name{
  margin: 10px 0;
  font-size: 14px;
}

.rating{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 20px;
}

.rating img{
  width: 20px;
  height: 20px;
}

.rating p{
  font-size: 12px;
}

.bantuan-btn{
  display: flex;
  justify-content: flex-end;
}

.bantuan-btn button{
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 5px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  padding: 3px 5px;
  background-color: #14A2B8;
  color: #FFFFFF;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.bantuan-btn button img{
  width: 25px;
  height: 25px;
}


/*--------------------------------------FOOTER--------------------------------------*/


footer{
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  background-color: #63CE6D;
}

.footer-section{
  display: flex;
  flex-direction: row;
  width: 350px;
}

.footer-content{
  display: flex;
  flex-direction: column;
}

.footer-content h4{
  margin-bottom: 20px;
  justify-content: center;
}

.footer-content p{
  margin-bottom: 20px;
}

.sembakoku-socmed{
  align-items: flex-end;
  width: 100px;
}

.sembakoku-socmed img{
  width: 45px;
  height: 40px;
}

.category-footer{
  display: flex;
}

.category2{
  margin-left: 20px;
}